.alignment {
  padding: 10px;
  display: block; 
  width :90%
}
.form-error-message {
  color: red;
  font-size: 0.75em;
  padding-left: 16px;
}
.errorColor{
  border-color: lightcoral;
}
label{
  text-transform: capitalize;
}